




<div>
    <div>
        <h3>Oeps!</h3>
        <strong>Er is iets foutgelopen, keer terug of probeer om de pagina opnieuw te laden</strong>
        <div>
            <p>//log datum : @DateTime.Now</p>
        </div>
        <div>
            <p>//log envir.: @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</p>
        </div>
    </div>
</div>